//COLOR VARIABLES
//$color-primary: 
$color-primary-light: #f7ec9a;
$color-primary-dark: #121b70;
$color-blue-light:#E0FFFF;	
$color-white:#fff;
$color-dark-gray: #777;
$color-black: #000000;

$color-secondary-light: #40E0D0;
$color-secondary-dark:#f28500;

$color-tertiary-light: #FFF;
$color-tertiary-dark: #ff0000;




$color-gray-light-1: #d4c6c6;
$color-gray-light-2: #eee;
$color-pink-light: #ffe6ff;


$color-black-light: #5D0CED;
$color-black-soft:#3b444b;



//GRID VARIABLES
$grid-width: 114rem;
$gutter-vertical: 8rem; //80px equivalent to margin-bottom
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;//60px 


//font-sizes
$default-font-size: 1.9rem;